<%= form_for @menu do |f| %>
  <% if @menu.errors.any? %>
    <%= render 'errors' %>
  <% end %>
  <div>
    <%= f.label :name,"Menu Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= link_to_add_association 'Add Section', f, :sections, :data => {"association-insertion-method" => "after" }, class:"btn btn-info btn-xs" %>
    <%= f.fields_for :sections do |section| %>
      <%= render 'section_fields', :f => section %>
    <% end %>
  </div>
  <div>
    <%= f.button :submit, class:"btn btn-success btn-md" %>
  </div>
<% end %>