<div class="nested-fields section-card">
  <div class="form-group">
    <%= f.label :name, "Section Name" %> <%= link_to_remove_association "remove section", f, data: {confirm: 'Are you sure you want to remove this section?'}, class:"btn btn-danger btn-xs remove-btn" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group add-btn">
    <%= link_to_add_association 'Add Item', f, :items, :data => {"association-insertion-method" => "after" }, class:"btn btn-warning btn-sm" %>
  </div>
  <%= f.fields_for :items do |item| %>
    <%= render 'item_fields', :f => item %>
  <% end %>
</div>