<div class="menu-index-wrap">
  <h1 class="menu-headline">Menu List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Menu Name</th>
        <th># of Sections</th>
        <th># of Items</th>
        <th>Created On</th>
        <th>View Menu</th>
        <th>Edit Menu</th>
        <th>Delete Menu</th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.name %></td>
          <td><%= menu.sections.count %></td>
          <% items = [] %>
          <% menu.sections.each do |section| %>
            <% section.items.each do |item| %>
              <% items << item.name %>
            <% end %>
          <% end %>
          <td><%= items.count %></td>
          <td><%= menu.created_at.strftime('%m/%d/%y') %></td>
          <td><%= link_to menu_path(:id => menu.id) do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
          </td>
          <td><%= link_to edit_menu_path(:id => menu.id) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
          </td>
          <td><%= link_to menu_path(:id => menu.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>