<div class="container">
  <h3><%= @menu.name %></h3>
  <% @menu.sections.each do |section| %>
    <h4><%= section.name %></h4>
    <% section.items.available.each do |item| %>
      <h5><%= item.name %></h5>
      <p><%= item.description %></p>
      <p>$<%= item.price %></p>
    <% end %>
  <% end %>
</div>